.App {
  text-align: center;
  justify-content: center;
}
body {
  background-color: rgb(200, 195, 195);
}
.decks-list .header .separator {
  border-bottom: 1px solid rgb(0, 0, 0);
  max-width: 90%;
}
.decks-list .header h2 {
  font-size: 30px;
}
.decks-list .add-button {
  position: absolute;
  right: 5px;
  top: 10px;
}
.icon {
  height: 2em;
  width: 2em;
}
.deck-preview {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 20px 5px;
}
.deck-preview .title {
  font-size: 24px;
  padding: 10px 0; 
  margin: 0;
}
/* edit card screen */
.card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 20px 5px;
}

/* QUIZ CARD */
.flippy-container {
  margin: auto;
  width: 60%;
}