.App {
  text-align: center;
  justify-content: center;
}
body {
  background-color: rgb(200, 195, 195);
}
.header {
  padding: 20px 0;
  background-color: rgb(119, 185, 244);
}
.header h2 {
  font-size: 30px;
}
.icon {
  height: 2.4em;
  width: 2.4em;
  color: rgb(5, 39, 85);
  padding: 3px;
}
.deck-preview {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 20px 5px;
}
.deck-preview .title {
  font-size: 24px;
  padding: 10px 0; 
  margin: 0;
}
.quiz-page .header,
.card-list .header,
.decks-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* edit card screen */
.card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 20px 5px;
}
/* QUIZ SITE */
.startButtons {
  justify-content: center;
}
.card-list .cards-list .card .card-view p {
  padding: 5px;
  margin: 0;
}
.card-list .cards-list .card .card-view .one-line {
  display: flex;
  justify-content: center;
}
/* QUIZ CARD */
.quiz-game .progress {
  margin: 1px 10px 10px;
}
.quiz-game .card-container .card-upper-icons {
  display: flex;
  justify-content: space-around;
}
.flippy-container {
  margin: 2px auto 20px;
  width: 85%;
  height: 280px;
  max-width: 500px;
  max-height: 500px;
}
.flippy-container .flippy-card {
  border-radius: 10px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.flippy-container .flippy-card p {
  font-size: 2em;
}
.flippy-container .flippy-front {
  background-color: aliceblue;
}
.flippy-container .flippy-back {
  background-color: rgb(215, 219, 222);
}
.card-container .known-buttons button {
  padding: 7px 3px;
  margin: 2px 3px;
}
.quiz-page .quiz-start h3,
.quiz-page .quiz-summary h3{
  margin: 15px;
}

/* -------SUMMARY------ */
.recharts-wrapper {
  margin: auto;
  width: 95%;
  color: #6b0202
}
